.section2{
    margin: 0 auto;
    width: 100vw;
    &-boxes{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content:center;
        padding: 20px;
        .box{
            display: flex;
            align-items: center;
            width:400px;
            justify-content: center;
            &-img{
                margin-right: 10px;
            }
            &-detail{
                width:100px
            }
        }
    }
}
